@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.calculator-container {
    margin: 200px 0 0 0;
    background-color: #333333;
    width: 400px;
    height: 500px;
    padding: 12px;
    border-radius: 5%;
}

.calculator-shell {
    display: flex;
    flex-direction: column;
    background-color: #9e9e9e;
    width: inherit;
    height: inherit;
    border-radius: 3%;
    gap: 5px;
}

.display-container {
    display: flex;
    justify-content: center;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
    padding: 0px 7px;
    width: 85%;
    height: 70px;
    font-size: 40px;
    background-color: #80e5ff;
    color: #0e5b6e;
}

.row-container {
    display: flex;
    flex: 1 1 auto;
    gap: 5px;
    padding: 0 33px;
    
}

.button {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 5px;
    margin-bottom: 25px;
}

.button.clear {
    flex-basis: 200%;
}

.button,
.calculator-display {
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
}

.button.operator,
.button.add,
.button.sub,
.button.multiply,
.button.divide,
.button.num,
.button.dec {
    background-color: #5e5e5e;
    color: #ffffff;
}

.button.clear,
.button.bkspace {
    background-color: #e41414;
    color: #ffffff;
}

.button.operate {
    background-color: #ffd900;
    color: #424242;
}