body {
    display: flex;
    justify-content: center;
}

.calculator-container {
    margin: 200px 0 0 0;
    background-color: #333333;
    width: 400px;
    height: 500px;
    padding: 12px;
    border-radius: 5%;
}

.calculator-shell {
    display: flex;
    flex-direction: column;
    background-color: #acacac;
    width: inherit;
    height: inherit;
    border-radius: 3%;
    gap: 5px;
}

.display-container {
    display: flex;
    justify-content: center;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 25px;
    padding: 0px 7px;
    background-color: #ffffff;
    width: 85%;
    height: 70px;
    font-size: 40px;
}

.row-container {
    display: flex;
    flex: 1 1 auto;
    gap: 5px;
    padding: 0 33px;
    
}

.button {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 25px;
}

.button-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 5px;
    margin-bottom: 25px;
}

.button,
.calculator-display {
    border-color: #797979;
    border-width: 1px;
    border-style: solid;
}